body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(imges/banner-bg.jpg);
    background-size: cover;

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(219, 210, 199);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home {
    text-align: right;
}

.home button {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 0px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
